input {
  padding: 8px 12px;
  border: 1px solid gray;
  border-radius: 5px;
}

.first-name,
.last-name {
  width: 130px;
}

.email {
  display: block;
  margin-top: 10px;
  width: 289px;
}

.sign-up {
  background-color: rgb(0, 94, 255);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 132px;
  margin-top: 12px;
  cursor: pointer;
}