a {
  color: rgb(38, 116, 130);
}

.text-one {
  font-weight: bold;
  font-size: 20px;
}

.price {
  color: green;
  font-weight: bold;
}

.add {
  background-color: rgb(223, 184, 17);
  height: 25px;
  width: 100px;
  border: none;
  border-radius: calc(25px / 2);
}

.buy {
  background-color: rgb(231, 150, 0);
  height: 25px;
  width: 100px;
  border: none;
  border-radius: calc(25px / 2);
  margin-left: 8px;
}