.video-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
  row-gap: 40px;
}

.thumbnail-container {
  position: relative;
}

.thumbnail {
  width: 100%;
  margin-bottom: 15px;
}

.channel-picture {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.video-info-container {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-stats-container {
  width: 300px;
}

.video-title {
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 15px;
}

.channle-name {
  font-size: 13px;
  color: gray;
  margin-bottom: 6px;
}

.channle-name,
.stats {
  font-size: 13px;
  color: gray;
}

.video-time {
  background-color: black;
  color: white;
  font-family: Roboto, Arial;
  font-weight: 500;
  position: absolute;
  bottom: 25px;
  right: 5px;
  padding: 5px;
  font-size: 19px;
  border-radius: 3px;
}