.header {
  display: flex;
  justify-content: space-between;
  height: 75px;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 100;

  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid rgb(211, 211, 211);
}

.left-section {
  display: flex;
  align-items: center;
}

.hamburger-menu {
  height: 40px;
  margin-right: 35px;
  margin-left: 35px;
}

.youtube-logo {
  height: 32px;
}

.middle-section {
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 700px;
  margin-left: 180px;
  margin-right: 35px;
}

.search-bar {
  flex: 1;
  height: 45px;
  font-size: 25px;
  padding: 8px 15px;
  width: 0;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(192, 192, 192);
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
  font-size: 25px;
}

.search-icon {
  height: 36px;
}

.search-button,
.voice-search-button,
.upload-icon-container,
.youtube-apps-icon-container,
.notifications-icon-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button {
  height: 63px;
  width: 110px;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(192, 192, 192);
  margin-left: -1px;
  margin-right: 10px;
  background-color: rgb(245, 245, 245);
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-icon-container .tooltip,
.youtube-apps-icon-container .tooltip,
.notifications-icon-container .tooltip {
  background-color: gray;
  color: white;
  font-size: 20px;
  padding: 7px 15px;
  border-radius: 3px;
  position: absolute;
  bottom: -47px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip,
.youtube-apps-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
  opacity: 1;
}

.voice-search-icon {
  height: 36px;
}

.voice-search-button {
  height: 63px;
  width: 63px;
  border: none;
  border-radius: 50%;
  background-color: rgb(245, 245, 245);
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 400px;
  flex-shrink: 0;
}

.upload-icon {
  height: 43px;
}

.youtube-apps-icon {
  height: 43px;
}

.notifications-icon {
  height: 43px;
}

.notifications-icon-container {
  position: relative;
}

.notifications-count {
  position: absolute;
  background-color: #CC0000;
  color: white;
  font-size: 18px;
  padding: 3px 9px;
  font-weight: 500;
  border-radius: 30px;
  top: -0px;
  right: -5px;
}

.current-user-picture {
  height: 55px;
  border-radius: 50%;
}

.left-section img,
.middle-section button,
.right-section img {
  cursor: pointer;
}