.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 75px;
  width: 110px;

  z-index: 200;

  background-color: white;
  padding-top: 15px;
}

.sidebar-link {
  height: 101px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media (min-width: 1600px) {
  .sidebar {
    width: 250px;
    padding-left: 33px;
  }

  .sidebar-link {
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
  }

  .sidebar-link img {
    padding-right: 30px;
  }
}

.sidebar-link:hover {
  background-color: #EDEDED;
}

.sidebar-link img {
  width: 35px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-size: 14px;
  font-weight: 500;
}