.sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  top: 75px;
  width: 110px;

  z-index: 200;

  background-color: white;
  padding-top: 15px;
}

.sidebar-link {
  height: 101px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.sidebar-link:hover {
  background-color: #EDEDED;
}

.sidebar-link img {
  width: 35px;
  margin-bottom: 6px;
}

.sidebar-link div {
  font-size: 14px;
}