p {
  font-family: Arial;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 0;
}

.title {

  font-weight: bold;
}

.sub-title {
  font-weight: normal;
  color: gray;
}

.content {
  margin-top: 6px;
  line-height: 24px;
  width: 600px;
}

.conclusion {
  margin-top: 27px;
}

.link {
  color: rgb(29, 155, 240);
}